@import "../../../assets/css/auth.css";

/* Register Area */
.register-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2f5f6a4;
  display: flex;
  z-index: 150;
  transition: all 500ms ease-in-out;
  overflow-y: scroll;
}
.register {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 4px;
  margin: auto;
  width: 30%;
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 870px) {
  .register {
    width: 90%;
  }
}
