/*/---- Main start ----/*/
input:hover {
  border: 1px solid var(--text-color) !important;
}

.account-banner {
  padding-bottom: 1rem;
  /* box-shadow: var(--box-shadow); */
}
.account-banner-bg .cover-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../../assets/img/bg-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 250px;
  width: 100%;
}
.account-banner-bg .cover-image h2 {
  font-size: 28px;
  color: var(--white-color);
  padding: 5rem 0 0 3rem;
}

.account-banner-info {
  display: block;
  width: 90%;
  margin: 2rem auto;
}
@media only screen and (min-width: 585px) {
  .account-banner-info {
    display: flex;
    align-items: center;
  }
}
.account-banner .btn {
  padding: 0.5rem;
}

/* Table */
.table {
  width: 100%;
  overflow-x: scroll;
}
@media only screen and (min-width: 885px) {
  .table {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
  }
  .table::-webkit-scrollbar {
    display: none;
  }
}
#transactions {
  border-collapse: collapse;
  width: 100%;
}
#transactions td,
#transactions th {
  padding: 8px;
}
#transactions tr:nth-child(even) {
  background-color: var(--light-grey);
}
#transactions tr:hover {
  background-color: var(--light-green);
}
#transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 500;
}

/* Plan card */
.plan-card {
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 1200px) {
  .plan-card {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
@media only screen and (min-width: 480px) {
  .plan-card {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
.plan-card h4,
.plan-card ul {
  text-align: center;
}
.plan-card-item {
  border: 1px solid var(--light-grey);
  padding: 1rem;
}
.plan-card ul {
  margin: 1rem 0;
}
.plan-card ul li {
  padding: 0.5rem;
}
.plan-card .btn {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

/* Plan Invest Modal */
.plan-invest-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2f5f6a4;
  display: flex;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
  overflow-y: scroll;
}
.plan-invest-area.show-modal {
  opacity: 1;
  visibility: visible;
}
.plan-invest {
  display: grid;
  grid-gap: 2rem;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 4px;
  margin: auto;
  width: 50%;
  box-shadow: var(--box-shadow);
}

.plan-invest-head,
.heading {
  text-align: center;
}
/*.body-details {
  /* display: grid;
  grid-gap: 1rem; 
}*/
.plan-invest-body .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.user-details p {
  margin-bottom: 0.5rem;
  color: var(--text-color2);
}
.gen-code {
  background-color: var(--light-green);
  padding: 0.2rem;
}
.plan-invest-body .body img {
  width: 100px;
  height: auto;
  flex-basis: 30%;
}
.plan-invest-body .body-details {
  flex-basis: 60%;
}
.body-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.body-btns .btn {
  padding: 0.5rem;
  flex-basis: 45%;
}

/* Query */
@media only screen and (max-width: 870px) {
  .plan-invest {
    width: 90%;
  }
  .plan-invest-body .body {
    display: flex;
    flex-direction: column;
  }
}
