<section class="account-container">
    <!-- Acount banner -->
    <div class="account-banner">
      <div class="account-banner-bg">
        <div class="cover-image">
          <h2>Hi, Welcome back!</h2>
        </div>
      </div>
      <div class="account-banner-info">
        <div class="account-banner-info-image" #accountBannerInfoImage>
        </div>
        <div class="account-banner-info-details">
          <div class="profile-name">
            <h4>Hello Becky</h4>
            <p>Software Developer</p>
          </div>
          <div class="profile-email">
            <h4>email.com</h4>
            <p>Email</p>
          </div>
        </div>
      </div>
    </div>
    <!----Note to send fund-->
    <div class="send-notice-banner">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam cum beatae facere officiis totam, alias enim similique non consequuntur vero itaque necessitatibus quaerat, nostrum quis repellat, esse perferendis dolor? Sed?</p>
    </div>
</section>
  