<section class="">
  <!-- Acount banner -->
  <div class="account-banner">
    <div class="account-banner-bg">
      <div class="cover-image">
        <h2>Hi, Welcome back!</h2>
      </div>
    </div>
    <div class="account-banner-info">
      <!-- <div class="account-message"> <p>Attention!!! You are to make payment to BTC wallet only. <strong>Example 1000 dollar desposit should be a transfer of 1000$ worth of BTC or any other Currency</strong>Payment processing on the side of the payment system may take some time. In case the account cant be deposited automatically, the request will be excuted within 2 plan-carding days after the company receives the notification from the cilent that he deposited his account.</p>
      <p>For the purpose of anti-money laundering, account can't be deposited by any third party.</p>
      <p>The Client should contact customerservice@supertrade.com</p>
      <p>Contact our whatapp number via +2******** or send us a mail to customerservice@supertrade.com </p>
      </div> -->
    </div>
    <!-- <button class="btn prim-btn register-btn">Make New Deposit</button> -->
  </div>

  <div class="plan-card">
    <div class="plan-card-item">
      <div class="plan-card-side plan-card-front" [class.show]="planPreview">
        <h4 class="uc">Starter investment plan</h4>
        <div>
          <ul>
            <li>90% After 0 day 1 minutes 30 seconds</li>
            <li>Min: $6,000</li>
            <li>Max: $30,000</li>
          </ul>
        </div>
        <a class="btn sec-btn" (click)="openPlanPreview()">Invest</a>
      </div>
      <!-- Plan invest preview -->
      <div class="plan-card-side plan-card-preview" [class.show]="planPreview">
        <h4 class="uc">Investment Preview</h4>
        <div class="plan-card-preview-body">
          <h5 class="plan-card-preview-body-head">Account Balance $0</h5>
          <form class="plan-card-preview-body-form">
            <input type="text" placeholder="Enter amount" id="amount" />
            <select name="" id="paymentMethod">
              <option value="">Select payment method</option>
              <option value="Btc">Btc</option>
              <option value="Etherum">Etherum</option>
            </select>
            <div>
              <button
                class="btn prim-btn"
                (click)="openDepositModal()"
                #investBtn
              >
                Invest
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="plan-card-item">
      <div class="plan-card-side plan-card-front" [class.show]="planPreview2">
        <h4 class="uc">Starter investment plan</h4>
        <div>
          <ul>
            <li>90% After 0 day 1 minutes 30 seconds</li>
            <li>Min: $6,000</li>
            <li>Max: $30,000</li>
          </ul>
        </div>
        <a class="btn sec-btn" (click)="openPlanPreview2()">Invest</a>
      </div>
      <!-- Plan invest preview -->
      <div class="plan-card-side plan-card-preview" [class.show]="planPreview2">
        <h4 class="uc">Investment Preview</h4>
        <div class="plan-card-preview-body">
          <h5 class="plan-card-preview-body-head">Account Balance $0</h5>
          <form class="plan-card-preview-body-form">
            <input type="text" placeholder="Enter amount" id="amount" />
            <select name="" id="paymentMethod">
              <option value="">Select payment method</option>
              <option value="Btc">Btc</option>
              <option value="Etherum">Etherum</option>
            </select>
            <div>
              <button
                class="btn prim-btn"
                (click)="openDepositModal()"
                #investBtn
              >
                Invest
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="plan-card-item">
      <div class="plan-card-side plan-card-front" [class.show]="planPreview3">
        <h4 class="uc">Starter investment plan</h4>
        <div>
          <ul>
            <li>90% After 0 day 1 minutes 30 seconds</li>
            <li>Min: $Not Available</li>
            <li>Max: $3,000</li>
          </ul>
        </div>
        <a class="btn sec-btn" (click)="openPlanPreview3()">Invest</a>
      </div>
      <!-- Plan invest preview -->
      <div class="plan-card-side plan-card-preview" [class.show]="planPreview3">
        <h4 class="uc">Investment Preview</h4>
        <div class="plan-card-preview-body">
          <h5 class="plan-card-preview-body-head">Account Balance $0</h5>
          <form class="plan-card-preview-body-form">
            <input type="text" placeholder="Enter amount" id="amount" />
            <select name="" id="paymentMethod">
              <option value="">Select payment method</option>
              <option value="Btc">Btc</option>
              <option value="Etherum">Etherum</option>
            </select>
            <div>
              <button
                class="btn prim-btn"
                (click)="openDepositModal()"
                #investBtn
              >
                Invest
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Invest plan Modal -->
  <div class="plan-invest-area" [class.show-modal]="depositModal">
    <div class="plan-invest" #deposit>
      <h3 class="plan-invest-head">Deposit fund from your account</h3>
      <div class="plan-invest-body">
        <h5 class="heading">Account Balance $0</h5>
        <div class="body">
          <img src="https://www.svgrepo.com/show/15468/send.svg" alt="send" />
          <div class="body-details">
            <div class="user-details">
              <p><span class="uc">Name:</span> {{ user?.fullName }}</p>
              <p><span class="uc">Email:</span> {{ user?.emailAddress }}</p>
              <p><span class="uc">Option:</span> {{ option }}</p>
              <p><span class="uc">Refrence Id:</span> auto</p>
              <p>
                <span class="uc">{{ option }} Id:</span>
                <!-- <span class="gen-code">Loremipsumdolorsitame</span> -->
              </p>
            </div>
            <div class="body-btns">
              <button class="btn sec-btn">Copy</button>
              <button class="btn prim-btn">Deposit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
