<section class="">
  <!-- Acount banner -->
  <div class="account-banner">
    <div class="account-banner-bg">
      <div class="cover-image">
        <h2>Hi, Welcome back!</h2>
      </div>
    </div>
    <div class="account-banner-info">
      <div class="account-message"> <p>Attention!!! You are to make payment to BTC wallet only. <strong>Example 1000 dollar desposit should be a transfer of 1000$ worth of BTC or any other Currency</strong>Payment processing on the side of the payment system may take some time. In case the account cant be deposited automatically, the request will be excuted within 2 working days after the company receives the notification from the cilent that he deposited his account.</p>
      <p>For the purpose of anti-money laundering, account can't be deposited by any third party.</p>
      <p>The Client should contact customerservice@supertrade.com</p>
      <p>Contact our whatapp number via +2******** or send us a mail to customerservice@supertrade.com </p>
      </div>
    </div>
  </div>
    <!-- Table -->
<!-- <div class="table">
  <table id="transactions">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
    </tr>
  </table>
</div> -->

<div class="plan-card">
  <div class="plan-card-item">
    <h4 class="uc">premium investment plan</h4>
    <div>
      <ul>
        <li>90% After 0 day 1 minutes 30 seconds</li>
        <li>Min: $5,000</li>
        <li>Max: $10,000</li>
      </ul>
    </div>
    <a href="#" class="btn sec-btn">Invest</a>
  </div>
  <div class="plan-card-item">
    <h4 class="uc">premium investment plan</h4>
    <div>
      <ul>
        <li>90% After 0 day 1 minutes 30 seconds</li>
        <li>Min: $5,000</li>
        <li>Max: $10,000</li>
      </ul>
    </div>
    <a href="#" class="btn sec-btn">Invest</a>
  </div>
  <div class="plan-card-item">
    <h4 class="uc">premium investment plan</h4>
    <div>
      <ul>
        <li>90% After 0 day 1 minutes 30 seconds</li>
        <li>Min: $5,000</li>
        <li>Max: $10,000</li>
      </ul>
    </div>
    <a href="#" class="btn sec-btn">Invest</a>
  </div>
  <div class="plan-card-item">
    <h4 class="uc">premium investment plan</h4>
    <div>
      <ul>
        <li>90% After 0 day 1 minutes 30 seconds</li>
        <li>Min: $5,000</li>
        <li>Max: $10,000</li>
      </ul>
    </div>
    <a href="#" class="btn sec-btn">Invest</a>
  </div>
</div>
</section>
