<!-- Contact Us -->
<section class="contact sect" id="contact">
  <div class="container">
    <div class="contact-form-area">
      <h5>Get in touch with us</h5>
      <form (ngSubmit)="submit()" [formGroup]="contactForm">
        <input type="text" placeholder="Name" formControlName="name" />
        <input type="email" placeholder="Email" formControlName="email" />
        <textarea
          id=""
          cols="10"
          rows="5"
          placeholder="Message"
          formControlName="message"
        ></textarea>
        <!-- Email template -->
        <input type="hidden" name="_template" value="box" />
        <!-- Disable Captcha -->
        <input type="hidden" name="_captcha" value="false" />
        <!-- Email subject -->
        <input type="hidden" name="_subject" value="New email whooo!" />
        <div class="form-btn">
          <button class="btn sec-btn clickable" (click)="submit()">Send</button>
        </div>
      </form>
    </div>
    <div class="contact-image">
      <iframe
        width="490"
        height="290"
        src="https://www.youtube.com/embed/SavTi8TY1Cw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
