/* About starts */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 870px) {
  .about-content {
    display: grid;
    grid-gap: 2rem;
  }
}
.about-details {
  flex-basis: 45%;
}
.about-details p {
  color: var(--text-color2);
}
.about-details .btn {
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
}
.about-img {
  flex-basis: 50%;
}
.about-img img {
  width: 100%;
}
/* About ends */

/* Cert Area */
.cert-area {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100vh;
  background-color: #f2f5f6a4;
  display: flex;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
  overflow-y: scroll;
}
.cert-area.show-modal {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.cert {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 4px;
  margin: 10vh auto;
  width: 30%;
  box-shadow: var(--box-shadow);
}
.cert img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 870px) {
  .cert {
    width: 80%;
  }
}
