<!-- Our Services -->
<section class="service sect" id="why-us">
  <div class="container">
    <!-- Change the class name -->
    <div class="sect-heading">
      <h2>Why choose us</h2>
    </div>
    <div class="service-body">
      <div class="service-item">
        <div class="inner-box">
          <img src="../../assets/img/taxes-efficiency.png" alt="" />
          <h5>Focused</h5>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
            recusandae perferendis at vitae?
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="inner-box">
          <img src="../../assets/img/taxes-efficiency.png" alt="" />
          <h5>Diverse</h5>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
            recusandae perferendis at vitae?
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="inner-box">
          <img src="../../assets/img/taxes-efficiency.png" alt="" />
          <h5>Investor Support</h5>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
            recusandae perferendis at vitae?
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="inner-box">
          <img src="../../assets/img/taxes-efficiency.png" alt="" />
          <h5>Stategy</h5>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
            recusandae perferendis at vitae?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
