<!-- Testimonial -->
<section class="testi sect" id="testi">
  <div class="container">
    <div class="sect-heading">
      <h2>What people say about us</h2>
    </div>
    <div class="testi-body">
      <div class="testi-item">
        <span class="quote"><i class="bx bxs-quote-alt-left"></i></span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          aliquam delectus totam veritatis, suscipit repudiandae.
        </p>
        <figure>
          <img src="../../../assets/img/testi.jpg" alt="image" />
          <figcaption>Khing Dave</figcaption>
        </figure>
      </div>
      <div class="testi-item">
        <span class="quote"><i class="bx bxs-quote-alt-left"></i></span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          aliquam delectus totam veritatis, suscipit repudiandae.
        </p>
        <figure>
          <img src="../../../assets/img/testi.jpg" alt="image" />
          <figcaption>Khing Dave</figcaption>
        </figure>
      </div>
      <div class="testi-item">
        <span class="quote"><i class="bx bxs-quote-alt-left"></i></span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          aliquam delectus totam veritatis, suscipit repudiandae.
        </p>
        <figure>
          <img src="../../../assets/img/testi.jpg" alt="image" />
          <figcaption>Khing Dave</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
