<h5>Register with us</h5>
<form (ngSubmit)="signup()" [formGroup]="signupForm">
  <input type="text" placeholder="Full Name" formControlName="fullName" />
  <input type="text" placeholder="Username" formControlName="userName" />
  <input type="email" placeholder="Email" formControlName="email" />
  <input type="tel" placeholder="Phone Number" formControlName="number" />
  <input type="password" placeholder="Password" formControlName="password" />
  <input
    type="password"
    placeholder="Confirm Password"
    formControlName="confirmPassword"
  />
  <div class="form-btn">
    <button class="btn prim-btn clickable" (click)="signup()">Send</button>
  </div>
</form>
<!-- name="signupForm" -->
