<div class="container-dash">
  <!-- Side Nav -->
  <aside class="sidenav">
    <a href="#">Logo</a>
    <nav>
      <ul>
        <li class="active clickable">Dashboard</li>
        <li class="clickable">Account</li>
        <li class="clickable">Setting</li>
      </ul>
    </nav>
  </aside>
  <!-- Main -->
  <main>
    <div class="main-header">
      <span class="profile">
        <p>Welcome! <strong id="profile-name">David</strong></p>
        <img src="../../../assets/img/pix.png" alt="image" id="profile-image" />
      </span>
    </div>
    <div class="main-body">
      <div class="card-list">
        <div class="card">
          <h4>Heading</h4>
          <p>Paragraph</p>
        </div>
        <div class="card">
          <h4>Heading</h4>
          <p>Paragraph</p>
        </div>
        <div class="card">
          <h4>Heading</h4>
          <p>Paragraph</p>
        </div>
        <div class="card">
          <h4>Heading</h4>
          <p>Paragraph</p>
        </div>
      </div>
    </div>
  </main>
</div>
