<div class="container-dash">
  <!-- Side Nav -->
  <aside class="sidenav-area" [class.show-menu]="hamClick">
    <div class="sidenav" #sideNav>
      <a routerLink="/">Logo</a>
      <nav>
        <ul>
          <li class="active clickable">Dashboard</li>
          <li class="clickable">Account</li>
          <li class="clickable">Setting</li>
        </ul>
        <span class="logout clickable" (click)="logOut()"
          >Log out <i class="bx bx-log-out"></i
        ></span>
      </nav>
    </div>
  </aside>
  <!-- Main -->
  <main>
    <div class="main-header">
      <span class="main-header-menu" (click)="openMenu()" #menuBtn>
        <i class="bx bx-menu-alt-left menu-icon clickable"></i>
      </span>
      <span class="main-header-profile">
        <p>Welcome! <strong id="profile-name">David</strong></p>
        <img src="../../../assets/img/pix.png" alt="image" id="profile-image" />
      </span>
    </div>
    <div class="main-body">
      <div class="card-list">
        <div class="card">
          <h4 class="uc">Btc/eur <i class="bx bxs-up-arrow-alt gc"></i></h4>
          <p>1119,86 <span class="gc">+14,90(1,35%)</span></p>
        </div>
        <div class="card">
          <h4 class="uc">Btc/eur <i class="bx bxs-up-arrow-alt gc"></i></h4>
          <p>1119,86 <span class="gc">+14,90(1,35%)</span></p>
        </div>
        <div class="card">
          <h4 class="uc">Btc/eur <i class="bx bxs-up-arrow-alt gc"></i></h4>
          <p>1119,86 <span class="gc">+14,90(1,35%)</span></p>
        </div>
        <div class="card">
          <h4 class="uc">Btc/eur <i class="bx bxs-up-arrow-alt gc"></i></h4>
          <p>1119,86 <span class="gc">+14,90(1,35%)</span></p>
        </div>
      </div>
      <div class="table">
        <table id="transactions">
          <tr>
            <th>Pair</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>July 2021</td>
          </tr>
          <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
            <td>July 2021</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>July 2021</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
            <td>July 2021</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
            <td>July 2021</td>
          </tr>
          <tr>
            <td>Königlich Essen</td>
            <td>Philip Cramer</td>
            <td>Germany</td>
            <td>July 2021</td>
          </tr>
          <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
            <td>July 2021</td>
          </tr>
        </table>
      </div>
    </div>
  </main>
</div>
