<section class="">
  <!-- Acount banner -->
  <div class="account-banner">
    <div class="account-banner-bg">
      <div class="cover-image">
        <h2>Hi, Welcome back!</h2>
      </div>
    </div>
   
  </div>

  <div class="withdraw-sect">
    <h3 class="withdraw-sect-head">Withdraw fund from your account</h3>
    <div class="withdraw-sect-body">
      <h5 class="withdraw-sect-body-head">Account Balance $0</h5>
      <form class="withdraw-sect-body-form">
        <div class="">
          <label for="name">Amount</label>
          <input type="text" placeholder="Enter amount" />
        </div>
        <div class="">
          <label for="email">Payment Method</label>
          <select name="" id="">
            <option value="">Select payment method</option>
            <option value="Btc">Btc</option>
            <option value="Etherum">Etherum</option>
            <option value="Usdt">Usdt</option>
          </select>
        </div>
        <div class="">
          <label for="fullname">Wallet Address</label>
          <input type="text" placeholder="Enter Wallet Address" />
        </div>
        <div class="">
          <label for="fullname">Account Number</label>
          <input type="text" placeholder="Enter Account Number" />
        </div>
        <div class="">
          <label for="fullname">Account Name</label>
          <input type="text" placeholder="Enter Account Name" />
        </div>
        <div class="">
          <label for="fullname">Password</label>
          <input type="password" placeholder="Enter password" />
        </div>
        <div>
          <button class="btn prim-btn" (click)= "withdrawlbtn">Withdraw</button>
        </div>
      </form>
    </div>
  </div>
</section>
