<section class="account-container">
    <!-- Acount banner -->
    <div class="account-banner">
      <div class="account-banner-bg">
        <div class="cover-image">
          <h2>Hi, Welcome back!</h2>
        </div>
      </div>
      <div class="account-banner-info">
        <div class="account-message"> <p>Attention!!! When withdrawing funds from supertrade wallet. <br>Youre are to make withdrawals in Dollars only<strong>Example 1000 dollar desposit should be a transfer of 1000$ worth of BTC or any other Currency</strong> <br>You will be charged a 2% commission of any amount withdraw from your wallet(Current balance). <br>
        you  can only make withdrawals when there's funds on your wallet (Current balance)</p>
        
        
        <p>Contact our whatapp number via +2******** or send us a mail to customerservice@supertrade.com </p>
        </div>
      </div>
      <button class="btn prim-btn register-btn">Make withdrawals</button>
    </div>

</section>
  