<section class="">
  <!-- Acount banner -->
  <div class="account-banner">
    <div class="account-banner-bg">
      <div class="cover-image">
        <h2>Hi, Welcome back!</h2>
      </div>
    </div>
    <div class="account-banner-info">
      <div class="account-message"> <p>Attention!!! You are to make payment to BTC wallet only. <strong>Example 1000 dollar desposit should be a transfer of 1000$ worth of BTC or any other Currency</strong>Payment processing on the side of the payment system may take some time. In case the account cant be deposited automatically, the request will be excuted within 2 working days after the company receives the notification from the cilent that he deposited his account.</p>
      <p>For the purpose of anti-money laundering, account can't be deposited by any third party.</p>
      <p>The Client should contact customerservice@supertrade.com</p>
      <p>Contact our whatapp number via +2******** or send us a mail to customerservice@supertrade.com </p>
      </div>
    </div>
    <!-- <button class="btn prim-btn register-btn">Make New Deposit</button> -->
  </div>

  <div class="withdraw-sect">
    <h3 class="withdraw-sect-head">Withdraw fund from your account</h3>
    <div class="withdraw-sect-body">
      <h5 class="withdraw-sect-body-head">Account Balance $0</h5>
      <form class="withdraw-sect-body-form">
        <div class="">
          <label for="name">Amount</label>
          <input type="text" placeholder="Enter amount" />
        </div>
        <div class="">
          <label for="email">Payment Method</label>
          <select name="" id="">
            <option value="">Select payment method</option>
            <option value="">Btc</option>
            <option value="">Etherum</option>
            <option value="">Bitbash</option>
          </select>
        </div>
        <div class="">
          <label for="fullname">Password</label>
          <input
            type="password"
            placeholder="Enter password"
          />
        </div>
        <div>
          <button class="btn prim-btn">Withdraw</button>
        </div>
      </form>
    </div>
  </div>
</section>
