/* Chat-bot */
.chat-bot {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: inline-block;
  background-color: #075e54;
  border-radius: 50%;
  padding: 8px;
  animation: chat-bot 0.5s ease-in-out infinite;
  z-index: 100;
}
.chat-bot:hover {
  animation-play-state: paused;
}
.chat-bot img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
@keyframes chat-bot {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Header ends */
