<div class="main-body">
  <!-- Card List -->
  <div class="card-list">
    <div class="card">
      <h4 class="uc">Btc/eur <i class="bx bxs-up-arrow-alt gc"></i></h4>
      <p>1119,86 <span class="gc">+14,90(1,35%)</span></p>
    </div>
    <div class="card">
      <h4 class="uc">Btc/usd <i class="bx bxs-up-arrow-alt gc"></i></h4>
      <p>1119,93 <span class="gc">+3,90(0,25%)</span></p>
    </div>
    <div class="card">
      <h4 class="uc">Eth/eur <i class="bx bxs-up-arrow-alt gc"></i></h4>
      <p>49,22 <span class="gc">+1,23(2,14%)</span></p>
    </div>
    <div class="card">
      <h4 class="uc">Eth/usd <i class="bx bxs-up-arrow-alt rc"></i></h4>
      <p>45,26 <span class="rc">+2,73(5,51%)</span></p>
    </div>
  </div>
  <!-- Table -->
  <div class="table">
    <table id="transactions">
      <tr>
        <th>Pair</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>July 2021</td>
      </tr>
      <tr>
        <td>Berglunds snabbköp</td>
        <td>Christina Berglund</td>
        <td>Sweden</td>
        <td>July 2021</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>July 2021</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
        <td>July 2021</td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
        <td>July 2021</td>
      </tr>
      <tr>
        <td>Königlich Essen</td>
        <td>Philip Cramer</td>
        <td>Germany</td>
        <td>July 2021</td>
      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
        <td>July 2021</td>
      </tr>
    </table>
  </div>

  <!-- Chart -->
  <section class="btc-chart">
    <div>
      <iframe
        id="tradingview"
        src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_dd6f1&amp;symbol=COINBASE%3ABTCUSD&amp;interval=D&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f1f3f6&amp;studies=%5B%5D&amp;theme=Dark&amp;style=1&amp;timezone=Etc%2FUTC&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=www.bitlunaroptions.com&amp;utm_medium=widget_new&amp;utm_campaign=chart&amp;utm_term=COINBASE%3ABTCUSD"
        allowtransparency="true"
        scrolling="no"
        allowfullscreen=""
        frameborder="0"
      ></iframe>
    </div>
  </section>
</div>
