/* Footer starts */
footer {
  background-color: var(--text-color2);
  color: var(--white-color);
  padding: 3rem 0;
}
footer .container {
  display: grid;
  grid-gap: 1rem;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* Logo starts */
.footer-logo {
  width: 50px;
  height: 50px;
}
.footer-logo img {
  width: 100%;
}
/* Footer ends */
